            <section class="background">
                <div class="box1 container">
                        <svg class="loader loader-two" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                            <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="135" stroke="#404041"/>
                            <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="85" stroke="#404041"/>
                       </svg>
                </div>
        </section>

            <section class="container port-one">
                <!-- <div class="box1"></div> -->
                <div class="box2">
                    {{#each project}}
                    <div class="deets{{ID}}">
                        {{!-- <h2 class="Title">{{ Title }}</h2> --}}
                        <div class="junior">
                        <img src="images/{{ Images }}" alt="">
                        <span>{{ Title }}</span>
                        </div>

                        <div class="media">
                            <div class="media-boxes"></div>
                            <div class="media-boxes"></div>
                            <div class="media-boxes"></div>
                        </div>

                           <div class="lightbox">
                            <span class="lightbox-close">X</span>
                            <!-- this will be dynamic shortly -->
                            <video src="/video/{{Video}}" muted autoplay controls></video>
                            </div>

                         {{!-- <video class="video" src="/video/{{Video}}" muted autoplay controls></video> --}}

                        <button class="play" href="/video/{{ ID }}">View More</button>

                        {{!-- <p class="para">{{ Description }}</p> --}}
                        {{!-- id="play" class="open-lightbox" href="#" --}}
                    </div>
                    {{/each}}
                </div>

            </section>

            {{!-- <section class="lightbox">
            <span class="lightbox-close">X</span>
            <!-- this will be dynamic shortly -->
            <video src="video/House-Stark.mp4" muted autoplay controls></video>
            </section> --}}