            <section class="background">
                <div class="box1 container">
                        <svg class="loader loader-two" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 340 340">
                            <circle cx="170" cy="170" r="160" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="135" stroke="#404041"/>
                            <circle cx="170" cy="170" r="110" stroke="#E2007C"/>
                            <circle cx="170" cy="170" r="85" stroke="#404041"/>
                       </svg>
                </div>
        </section>

            <section class="container port-one">
                <h2>Projects</h2>
                <div class="box2">
                    {{#each project}}
                    <div class="deets{{ID}}">
                        <div class="junior1">
                        <img src="images/{{ Images }}" alt="">
                        <span>{{ Title }}</span>
                        </div>
                        <video src="/video/{{Video}}" muted autoplay controls></video>
                    {{!-- <p>{{Description}}</p> --}}
                    <h2>{{Description}}</h2>
                    <article>{{Challenge}}</article>

                    
                        <button id="play" class="open-lightbox" href="/video/{{ ID }}">Watch Video</button>
                        <button class="open-lightbox button-two" href="/video/{{ ID }}">View More</button>

                    </div>
                    {{/each}}
                </div>

            </section>
